<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="app.css" /> -->
  </head>
  <body>
    <div class="off-canvas-wrapper" data-off-canvas>
  <div class="off-canvas position-left reveal-for-medium" id="offCanvas" data-off-canvas data-transition="overlap">
      <!-- Your menu or Off-canvas content goes here -->
      <ul class="menu vertical">
        <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
        <li><a style="padding:0;" href="/"><img src="https://via.placeholder.com/350x250" alt=""></a></li>
        <li class="off-canvas__item {{#if index}}active {{/if}}"><a class="off-canvas__link" href="/">
          <span>Home</span>
        </a></li>
        <li class="off-canvas__item {{#if about}}active {{/if}}"><a class="off-canvas__link" href="/about">
          <span>About</span>
        </a></li>
        <li class="off-canvas__item {{#if identity}}active {{/if}}"><a class="off-canvas__link" href="/identity">
          <span>Identity Design</span>
        </a></li>
        <li class="off-canvas__item {{#if digital}}active {{/if}}"><a class="off-canvas__link" href="/digital">
          <span>Digital Design</span>
        </a></li>
        <li class="off-canvas__item {{#if blog}}active {{/if}}"><a class="off-canvas__link" href="/blog">
          <span>Our Blog</span>
        </a></li>
        <li class="off-canvas__item" {{#if contact}}class="active" {{/if}}><a class="off-canvas__link" href="/contact">
          <span>Contact us</span>
        </a></li>
      </ul>
      <div class="legal">
        &copy; by Katalist 2017
      </div>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
      <button type="button" class="button hide-for-medium" data-toggle="offCanvas">
      </button>

  

  <div id="app"></div>

</div>
</div>
  </body>
</html>
